.one {
    width: 400px;
    height: 200px;
    position: absolute;
  }
.one img {
    width: 400px;
    height: 200px;
}
.dot {
    display: inline-block;
    background-color: rgb(55, 55, 55);
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 2px;
    position: relative;
    z-index: 2;
    left: 150px;
    top: -30px;
}
.dot:hover {
    box-shadow: 0 0 25px 10px white;
    background-color: darkred;
    cursor: pointer;
}